<h1>Device manufacturers</h1>
<%= link_to 'New Device manufacturer', new_device_manufacturer_path %>


<table>
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @device_manufacturers.each do |device_manufacturer| %>
    <tr>
      <td><%= device_manufacturer.name %></td>
      <td><%= link_to 'Info', device_manufacturer %></td>
    </tr>
  <% end %>
  </tbody>
</table>