<% content_for :page_head do %>
  <h1 class="h2">New Device manufacturer</h1>
<% end %>

<%= link_to 'Back', device_manufacturers_path %>

<%= render 'form', device_manufacturer: @device_manufacturer %>