<% flash.each do |type, msg| %>
  <div class="mt-3">
    <%= "<div class=\"alert alert-danger\" >#{msg}</div>".html_safe if type == 'alert' %>
    <%= "<div class=\"alert alert-success\" >#{msg}</div>".html_safe if type == 'notice' %>
  </div>
<% end %>